.popup__block_close{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5px;
    margin-top: 5px;
}

.popup__close_icon{
    cursor: pointer;
}