:root{
  --greenColor: #7CFC00;
  --bg-color: #15172b;
  --red-color: #ae2222;
  --error-height: 20px;
  --whiteColor: white;
  --borderRedius: 10px;
  --bg-additional: #303244;
  --bg-button: #0087db;
  --font-size-button: 0.8rem;
  --height-button: 40px;
  --font-size: 1.3rem;
  --title-font-size: 1.8rem;
  --bg-white-black: #0a0b15;
  --medium-text: 1.4rem;
  --shadow-blue: 1px 1px 10px 1px #1975d0;
  --border-blue: 2px solid #1975d0;
}
