.form__container{
    z-index: 3;
    height: 260px;
    width: 350px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
    border: var(--shadow-blue);
    box-shadow: var(--shadow-blue);
}


.formik__container {
    padding: 15px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.title {
    height: 15%;
}

.form{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.block__title{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.block__error{
    height: var(--error-height);
    width: 100%;
}

.error_text{
    height: 20px;
    color: var(--red-color);
}

.button__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 1000px) {

    .categories__wrapper {
        border-radius: 20px;
        width: 1000px;
        height: 600px;
    }

}