.tasks__wrapper {
    background-color: #15172b;
    height: 100%;
    width: 100%;
    padding: var(--container-pudding);
    border: var(--shadow-blue);
    box-shadow: var(--shadow-blue);
}

.tasks__container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    height: 80%;
    width: 100%;
    overflow-y:auto;
    border: 4px solid #1975d0;
}

.tasks__container::-webkit-scrollbar {
    width: 12px;
}

.tasks__container::-webkit-scrollbar-track {
    background-color: var(--bg-white-black);

}

.tasks__container::-webkit-scrollbar-thumb {
    background: #565656;
}

.tasks__container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


.tasks__header {
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 820px) {


}

@media (min-width: 1000px) {

    .tasks__container {
        flex-direction: row;
        align-content: flex-start;
        justify-content: space-evenly;
    }

    .tasks__wrapper {
        border-radius: 20px;
        width: 1000px;
        height: 600px;
        margin: 20px;
    }
}
